.page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto 0;
    background-color: var(--bg-header);
    width: 638;
    height: 84;
    border-radius: 15px;
    opacity: 1;
}

.page-header__title {
    margin: 15px;
    font-family: Roboto;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 7.5%;
    text-align: center;
    text-transform: uppercase;
    color: var(--txt-header);
}
