.page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0;
    background-color: var(--bg-header);
    width: 100%;
    max-width: 638px;
    height: 84px;
    border-radius: 15px;
    opacity: 1;
}

.page-header__title {
    margin: 15px;
    font-family: Roboto;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: var(--txt-header);
    letter-spacing: 0.075em;
}
