.info-block {
    text-align: center;
    height: 45px;
    margin: 10px 30px 5px;
}

.info-block__title {
    color: rgb(97, 96, 96);
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    margin: 0;
}

.loader {
    width: 32px;
    height: 32px;
    border: 5px solid #808080;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1.2s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.info-block__wrapper {
    height: 30px;
}

@media (max-width: 380px) {
    .info-block {
        height: 35px;
    }
    .info-block__title {
        font-size: 20px;
    }
    .loader {
        height: 28px;
        width: 28px;
    }
}
