.letter-board__item {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    border: none;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    color: var(--text);
    border-radius: 5px;
    background-color: var(--bg-empty);
}

.correct {
    --new-bg: var(--green);
    --new-color: var(--white);
    animation: flip 0.5s ease forwards;
}

.present {
    --new-bg: var(--yellow);
    --new-color: var(--white);
    animation: flip 0.5s ease forwards;
}

.absent {
    --new-bg: var(--gray);
    --new-color: var(--white);
    animation: flip 0.5s ease forwards;
}

.empty {
    background-color: var(--bg-empty);
}

@keyframes flip {
    0% {
        transform: rotateX(0);
        background-color: var(--bg-empty);
        color: var(--text);
    }
    49% {
        transform: rotateX(90deg);
        background-color: var(--bg-empty);
        color: var(--text);
    }
    50% {
        transform: rotateX(90deg);
        background-color: var(--new-bg);
        color: var(--new-color);
    }
    100% {
        transform: rotateX(0);
        background-color: var(--new-bg);
        color: var(--new-color);
    }
}

@media (max-width: 380px) {
    .letter-board__item {
        font-size: 30px;
    }
}
