:root {
    --yellow: #edca03;
    --gray: #988d8d;
    --green: #0b750b;
    --whiteishText: #ebe7e7;
    --bg-keyboard: #efe8e4;
    --bg-button: #fbf6f3;
    --button-border: #9d9893;
    --keyboard-border: #c6beb9;
}
