*{
    box-sizing: border-box;
}

header{
    background-color: #412315;
    display: flex;
    justify-content: center;
    padding: 20px;
}

body{
    margin: 0;
}

.page-title{
    color: #f5ebbb;
}

.order-box,.order-name,.order-payment{
    background-color: #eee1d5;
    padding: 15px 10px;
}

.order-item{
    display: flex;
    background-color: red;
    padding: 20px;
}

.order-list{
    padding:0;
}

.item-name{
    margin: 0px;
}

.quantity{
    padding-right: 10px;
}

.item-price{
    margin-left: auto;
}

.order-box{
    grid-area: item;
}

.order-name{
    grid-area: name;
}

.order-payment{
    grid-area: payment;
    display: grid;
    grid-template-areas: 
    "payment-title payment-title"
    "card-number card-number"
    "exp-date ccv-card";
}

.order-total{
    grid-area: total;
    background-color: aqua;
    margin-top: 40px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.order-page{
    display: grid;
    column-gap: 30px;
    row-gap: 20px;
    grid-template-areas: 
    "item name"
    "item payment"
    "total total";
    margin: 20px 10px;
}

.page-logo{
    width: 30px;
    padding: 15px 0;
    margin-right: 10px;
}

.total-table{
    width: 33%;
    margin-bottom: 20px;
}

.table-price{
    text-align: right;
}

.order-total button{
    width: 90%;
    height: 40px;
    border-radius: 25px;
    border:none;
    margin-bottom: 20px ;
    background-color: #deb993;
}

.input-box{
    position: relative;
    display: inline-block;
}

.input-box label{
    position: absolute;
}

.input-box input{
    border: 1px solid #8d6035;
    background-color: #eee1d5;
}

.card-number{
    grid-area: card-number;
}

.exp-date{
    grid-area: exp-date;
}

.ccv-card{
    grid-area: ccv-card;
}

.order-payment h2{
    grid-area: payment-title;
}

